.aaaa
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.news-box
{
    height: 630px;
    overflow-y: auto;
}
.article-card
{
    width: 100%;
    height: auto;
    min-width: none;
    max-width: fit-content;
}
